{% load axe_filters %}
<tr>
    <td>{{ transaction.transaction_date|date:"Y-m-d" }}</td>
    <td>
        <span class="badge {{ transaction.type|transaction_badge }}">
            <i class="bi {{ transaction.type|transaction_icon }} me-1"></i>
            {{ transaction.type }}
        </span>
    </td>
    <td>
        {% if user.is_authenticated or public_settings.show_prices %}
            {{ transaction.price|format_currency }}
        {% else %}
            ***
        {% endif %}
    </td>
    <td>
        {% if user.is_authenticated or public_settings.show_prices %}
            {{ transaction.shipping_cost|format_currency }}
        {% else %}
            ***
        {% endif %}
    </td>
    {% if user.is_authenticated or public_settings.show_contacts %}
    <td>
        {% if transaction.contact %}
            <a href="{% url 'contact_detail' transaction.contact.pk %}" class="contact-link">
                {% if transaction.contact.country_code %}
                    <span class="me-1">{{ transaction.contact.country_code|country_flag }}</span>
                {% endif %}
                {% if transaction.contact.alias %}
                    {{ transaction.contact.alias }}
                {% else %}
                    {{ transaction.contact.name }}
                {% endif %}
            </a>
        {% else %}
            -
        {% endif %}
    </td>
    {% endif %}
    {% if user.is_authenticated or public_settings.show_platforms %}
    <td>
        {{ transaction.platform.name|default_if_empty }}
    </td>
    {% endif %}
    <td>{{ transaction.comment|default_if_empty }}</td>
    {% if show_actions %}
        <td class="edit-col" style="display:none;">
            <button class="btn btn-outline-primary btn-sm edit-transaction-btn" data-transaction-id="{{ transaction.id }}" title="Redigera">
                <i class="bi bi-pencil"></i>
                <span class="d-none d-md-inline">Redigera</span>
            </button>
            <button class="btn btn-outline-danger btn-sm delete-transaction-btn ms-1" data-transaction-id="{{ transaction.id }}" title="Ta bort">
                <i class="bi bi-trash"></i>
                <span class="d-none d-md-inline">Ta bort</span>
            </button>
        </td>
    {% endif %}
</tr> 